#wrapper{
    height: 100vh;
    overflow-x:hidden;
    overflow-y:auto;
    perspective: 10px;
}
.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    transform-style: preserve-3d;
    object-fit: cover;
    z-index: -1;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.background{
    transform:translateZ(-40px)scale(5);
}
.foreground{
    position:absolute;
    transform:translateZ(-20px)scale(14) ;
    align-items: baseline;
    height: 50px;
    width:50px ;
    object-fit: cover;
    right: 80px;
    bottom: 80px;
    border-radius: 50%;
    
    box-shadow: 0 0 1px 2px #7ad9fc;
}
.background{
     position: absolute;
     height: 100%;
     width: 100%;
     z-index: -1;
     object-fit: cover;
}
h1{
    position: absolute;
    font-size: 10rem;
    color:white;
    text-shadow: 0 0 10px rgba(0,0,0,0.3);
    top: 5rem;
    letter-spacing: 4px;
}
section{
    background-color:rgb(45, 45, 45);
    color: white;
    padding: 5rem 0;
}
.bg{
    position: relative;
    width: 100%;
    background-attachment: fixed;
    height: 500px;
    background-size: cover;
    background-position: center;
    background-size: cover;
}
.bg1{
    /* Q:- why we dont use img tag irrespective of the background-image tag here in this
        case?  */
    background-image : url(biking.jpeg);
   
}
.bg2{
  background-image: url(para.jpeg);
  
}
.bg3{
    background-image: url(surfing.jpeg);
   
}
.secHeading{
    font-size: 5rem;
    padding: 0 10rem;
}
.text{
   
    font-size: 1.5rem;
    padding: 0 10rem;
    margin: 5rem 0;
    
}
.desc{
    position: absolute;
    background-color: white;
    padding: 0.5rem 2.5rem;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    color: black;
    font-size: 3.5rem;
}